@media not all and (hover: none) {
    ::-webkit-scrollbar {
        
      width: 12px;
        
    }
    ::-webkit-scrollbar-thumb {
      border-radius: .3rem;
      border: 1px $primary solid;
    }
  }