$post-row-1: calc(100vmin - #{$planck} * 4);
$post-column-1: calc(100vmin - #{$planck} * 4);
$gallery-size-1: calc(100vmin - #{$planck} * 4);

$post-row-2: 1fr;
$post-column-2: calc(100vw - #{$planck} * 4);
$gallery-size-2: calc(100vw - #{$planck} * 4);

$post-row-3: calc(100vh - #{$planck} * 4);
$post-column-3: minmax(150px, 30vw);
$gallery-size-3: calc(100vw - #{$planck} * 4);

.gallery {
    padding: $planck * 2 0;
    margin: auto;
    display: grid;
    gap: $planck * 2;

    width: $gallery-size-1;
    grid-template-rows: $post-row-1;
    grid-auto-rows: $post-row-1;
    grid-template-columns: $post-column-1;
    
    @include media-breakpoint-up(sm) {
        width: $gallery-size-2;
        height: calc(100vh - 10 * #{$planck});
        grid-template-rows: $post-row-2;
        grid-auto-rows: $post-row-2;
        grid-template-columns: $post-column-2;
        grid-auto-flow: row;
    }

    @include media-breakpoint-up(md) {
        width: $gallery-size-3;
        grid-template-rows: $post-row-3;
        grid-template-columns: $post-column-3;
        grid-auto-columns: $post-column-3;
        grid-auto-flow: column;
    }
}

.gallery-single-image {
    height: 100%;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;

    box-shadow: 0px 5px 0px 0px $primary;
}

.gallery-single-link {
    position: absolute;
    right: $planck * 2;
    bottom: $planck * 2;

    @include media-breakpoint-up(md) {
        bottom: $planck * 10;
    }
    
    font-size: larger;
    font-weight: 900;
}

.paginator {
    min-height: calc(100vh - #{$planck} * 12);
}

.pagination {
    background-color: $gray-100;
    margin: $planck * 2;
    padding: $planck * 1 $planck * 2;
}

#header {
    transition: 0.1s;
}

#header-nav {
    background-color: $gray-100;
    z-index: 10000;
    margin: $planck * 2;
}

.navbar-collapse {
    margin-left: $planck * 2;

    @include media-breakpoint-up(md) {
        margin-left: $planck * 0;
    }

    .nav-item {
        margin: $planck 0;
    }
}

#footer {
    
    min-height: $planck * 20;

    z-index: 1000;
}

#player {
    position: sticky;

    bottom: 0;
}

.page {
    min-height: calc(100vh - #{$planck} * 10);
}

#page {
    overflow-y: hidden;
}

#page-title {
    word-break: break-all;
    line-height: $planck * 19;
    font-size: $planck * 25;
    max-width: 95vw;
    
    @include media-breakpoint-up(sm) {
        line-height: $planck * 26;
        font-size: $planck * 30;
        max-width: 80vw;
    }
    
    @include media-breakpoint-up(md) {
        line-height: $planck * 31;
        font-size: $planck * 35;
        max-width: 70vw;
    }
    
    @include media-breakpoint-up(lg) {
        line-height: $planck * 35;
        font-size: $planck * 40;
        max-width: 70vw;
    }

    @include media-breakpoint-up(xl) {
        line-height: $planck * 44;
        font-size: $planck * 50;
        max-width: 70vw;
    }
}

#page-subtitle {

}

#headline {
    min-height: 60vh;

    @include media-breakpoint-up(md) {
        min-height: 80vh;
    }
}

#page-links {
    @include media-breakpoint-down(xl) {
        display: grid;
    }
}