.neu, .neu .dropdown-item {
    background-color: $body-bg;
    border: 1px solid transparentize($color: $white, $amount: 0.8);
    box-shadow: -6px -6px $planck * 2 0 transparentize($color: $white, $amount: 0.4), 6px 6px $planck * 2 0 transparentize($color: $gray-200, $amount: 0.4);

    transition: 0.1s;
    user-select: none;
}

.neu-primary {
    border: 2px dotted transparentize($color: $primary, $amount: 0);
}

.neu .dropdown-item {
    background-color: $body-bg;
    border: 1px solid transparentize($color: $white, $amount: 0.8);
    user-select: none;
}

.neu .dropdown-item:active, .dropdown:active.neu, .button:active.neu, button:active.neu, a:active.neu {
    background-color: $body-bg;
    border: 1px solid transparentize($color: $primary, $amount: 0);
    box-shadow: inset -6px -6px $planck * 2 0 transparentize($color: $white, $amount: 0.4), inset 6px 6px $planck * 2 0 transparentize($color: $gray-200, $amount: 0.4);
}

.neu.neu-primary:active {
    border: 2px dotted transparentize($color: $primary, $amount: 0);
}

$planck-sizes: (
    "1": $planck,
    "2": $planck * 2,
    "3": $planck * 3,
    "4": $planck * 4,
    "5": $planck * 5,
    "6": $planck * 6,
    "8": $planck * 8,
    "10": $planck * 10
);

@mixin pladding(
    $t,
    $r,
    $b,
    $l,
    $top: if($t == 0, null, $t),
    $right: if($r == 0, null, $r),
    $bottom: if($b == 0, null, $b),
    $left: if($l == 0, null, $l),
) {
    padding-top: $top !important;
    padding-right: $right !important;
    padding-left: $left !important;
    padding-bottom: $bottom !important;
}

@mixin mlarging(
    $t,
    $r,
    $b,
    $l,
    $top: if($t == 0, null, $t),
    $right: if($r == 0, null, $r),
    $bottom: if($b == 0, null, $b),
    $left: if($l == 0, null, $l),
) {
    margin-top: $top !important;
    margin-right: $right !important;
    margin-left: $left !important;
    margin-bottom: $bottom !important;
}

@each $size, $value in $planck-sizes {
    .pl-#{$size} {
      @include pladding($value, $value, $value, $value);
    }
    .ply-#{$size} {
        @include pladding($value, 0, $value, 0);
    }
    .plx-#{$size} {
        @include pladding(0, $value, 0, $value);
    }
    .plt-#{$size} {
        @include pladding($value, 0, 0, 0);
    }
    .ple-#{$size} {
        @include pladding(0, $value, 0, 0);
    }
    .plb-#{$size} {
        @include pladding(0, 0, $value, 0);
    }
    .pls-#{$size} {
        @include pladding(0, 0, 0, $value);
    }

    .ml-#{$size} {
      @include mlarging($value, $value, $value, $value);
    }
    .mly-#{$size} {
        @include mlarging($value, 0, $value, 0);
    }
    .mlx-#{$size} {
        @include mlarging(0, $value, 0, $value);
    }
    .mlt-#{$size} {
        @include mlarging($value, 0, 0, 0);
    }
    .mle-#{$size} {
        @include mlarging(0, $value, 0, 0);
    }
    .mlb-#{$size} {
        @include mlarging(0, 0, $value, 0);
    }
    .mls-#{$size} {
        @include mlarging(0, 0, 0, $value);
    }
}

// Dropdowns
.dropdown-menu {
    top: calc(100% + #{$planck} * 1.8);

    border-radius: 0 0 $planck * 2 $planck * 2;
    padding: 0 2 * $planck;
}

.dropdown-item {
    border-radius: $planck * 2;

    margin: 0 0 $planck * 2;
}

.pointer-events-none {
    pointer-events: none;
}