.neu, .neu .dropdown-item {
    background-color: $body-bg;
    border: 1px solid transparentize($color: $white, $amount: 0.8);
    box-shadow: -6px -6px $planck * 2 0 transparentize($color: $white, $amount: 0.4), 6px 6px $planck * 2 0 transparentize($color: $gray-200, $amount: 0.4);

    transition: 0.1s;
    user-select: none;
}

.neu-primary {
    border: 2px dotted transparentize($color: $primary, $amount: 0);
}

.neu .dropdown-item {
    background-color: $body-bg;
    border: 1px solid transparentize($color: $white, $amount: 0.8);
    user-select: none;
}

.neu .dropdown-item:active, .dropdown:active.neu, .button:active.neu, button:active.neu, a:active.neu {
    background-color: $body-bg;
    border: 1px solid transparentize($color: $primary, $amount: 0);
    box-shadow: inset -6px -6px $planck * 2 0 transparentize($color: $white, $amount: 0.4), inset 6px 6px $planck * 2 0 transparentize($color: $gray-200, $amount: 0.4);
}

.neu.neu-primary:active {
    border: 2px dotted transparentize($color: $primary, $amount: 0);
}

// Dropdowns
.dropdown-menu {
    top: 160%;
}

.dropdown-item {
    border-radius: $planck * 2;

    margin: 0 0 $planck * 2;
}

.dropdown-menu {
    padding: 2 * $planck;
}

.plx-1 {
    padding-left: $planck * 1 !important;
    padding-right: $planck * 1 !important;
}

.plx-2 {
    padding: 0 $planck * 2;
}

.ply-1 {
    padding: $planck * 1 0;
}

.ply-2 {
    padding: $planck * 2 0;
}

.pl-1 {
    padding: $planck * 1;
}

.pl-2 {
    padding: $planck * 2;
}

// Figure out how to do those things for easier editing