{{ define "main" }}
    <section class="page d-flex flex-column justify-content-center align-items-center">
        {{ $notfoundSub := T "NOTFOUNDSUB" }}
        {{ partial "headline.html" (dict "context" . "title" "404" "subtitle" $notfoundSub)}}
        <div>
            {{ partial "button.html" (dict "href" "/portfolio" "text" "portfolio")}}
            {{ partial "button.html" (dict "href" "/links" "text" "links")}}
            <!--a href="" class="btn btn-lg text-primary neu mlx-1">portfolio</a-->
        </div>
        {{ partial "divider.html" }}
        <div class="text-container text-center">
            <h3>{{ T "notfoundDesc" }}</h3>
        </div>
        {{ partial "divider.html" }}
    </section>
{{ end }}