<section id="headline" class="mlt-10 d-flex align-items-center justify-content-center flex-column">
    {{ partial "divider.html" }}
    <h1 id="page-title" class="text-center fw-bold">{{ .title | upper }}</h1>
    <h2 id="page-subtitle" class="text-center display-5 fw-bold">{{ .subtitle }}</h2>
    <span class="ply-2"></span>
    {{ partial "divider.html" }}
    <div id="page-links">
        {{ range .buttons }}
        <a href="#{{ . }}" class="d-inline-flex btn neu text-primary m-1"><h3 class="fw-bold pb-0 mb-0">{{ . }}</h3></a>
        {{ end }}
    </div>
    {{ if .buttons }}
    {{ partial "divider.html" }}
    <span class="ply-5"></span>
    {{ end }}
</section>