{{ if eq .Kind "home" }}
{{ $pages := .Paginate (where .Site.Pages "Type" "post") 4 }}
<div class="paginator">
    <div class="gallery">
        {{ range $page := $pages.Pages }}
        {{ partial "post-preview.html" . }}
        {{ end }}
    </div>
</div>
{{ else }}
{{ $pages := .Paginate (where .Pages "Type" "post") 4 }}
<div class="paginator">
    <div class="gallery">
        {{ range $page := $pages.Pages }}
        {{ partial "post-preview.html" . }}
        {{ end }}
    </div>
</div>
{{ end }}

{{ partial "player.html" . }}